/* My Page CSS */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

img {
	width: 100%;
	height: 100%;
}

.page_background {
	background-image: url(./assets/images/bg.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.form-element {
	display: block;
	width: 70%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

textarea.form-element {
	font-family: inherit;
	resize: none;
}

.form-element-wrapper {
	padding-bottom: 1em;
	;
}

.btn {
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/*NAVBAR*/

.navbar {
	background-color: #00000000;
	position: fixed;
	opacity: 0;
	/* Set the navbar to fixed position */
	top: 0;
	/* Position the navbar at the top of the page */
	width: 100%;
	/* Full width */
	display: flex;
	justify-content: center;
	z-index: 1;
}

.navbar-bg-fixed {
	opacity: 1;
	background-color: #192939;
}

.navbar a {
	font-weight: 200;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

/* Home section */

.home {
	flex-direction: column;
	background-image: url(./assets/images/bg.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.home-title {
	width: max-content;
	margin: 0 auto;
	font-weight: 400;
	font-size: 2em;
	color: white;
	text-align: center;
	padding-top: 5px;
}

.home p {
	color: #fff;
}

/* About Section */

.about {
	padding: 5em;
}

.about .about_wrapper {
	flex: 1;
}
.about .text_container {
	padding: 6em;
}



.about .text_container p {
	text-align: justify;
}

.about .pic_container .dev_pic {
	background-image: url(./assets/images/profile_pic.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/* background-position: -58px -14px; */
	padding-bottom: 80%;
	border-radius: 50%;
	width: 80%;
	margin: 0 auto;
	box-shadow: 2px 3px 16px 2px rgba(0, 0, 0, 0.75);
}

@media (max-width: 900px) {
	.about{
		padding: 1em;
	}

	.about .text_container {
		padding: 1em !important;
	}

}
@media (max-width: 600px) {
	.about{
		flex-direction: column-reverse;
	}

	.about .pic_container{
		width: 50%;
	}
	
}

/* Career Section */

.career {
	background-image: linear-gradient(#4C6A66, #00937E);
	flex-direction: column;
	padding: 2em;
}

.career h1 {
	color: #fff;
	font-size: 2em;
}

.career .career_wrapper {
	display: flex;
	width: 100%;
}

.career .career_card {
	flex: 1;
	height: 100%;
	width: 100%;
}

.career .career_card img {
	display: block;
	margin: 0 auto;
	max-width: 80%;
}

/* Skills Section */

.skills {
	padding: 5em;
}

/* Project Section */

.project {
	background-image: linear-gradient(#FFA63E, #D07000);
	flex-direction: column;
	padding: 2em;
}

.project h1 {
	color: #fff;
	font-size: 2em;
}

.project .project_wrapper {
	display: flex;
	width: 100%;
}

.project .project_card {
	flex: 1;
	position: relative;
	max-height: 300px;
	padding: 1em;
	overflow: hidden;
}

.project .project_card .overlay .layer {
	background-color: #000;
	position: absolute;
	top: 1em;
	left: 1em;
	border-radius: 8px;
	opacity: 0.8;
	width: calc(100% - 2em);
	height: 0;
	/* height: calc(100% - 2em); */
	transition: all .3s ease;
}

.project .project_card:hover .overlay .layer {
	height: calc(100% - 2em);
	/* top : 1em; */
}

.project .project_card img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

.project .project_card .project_title_card h1 {
	font-size: 1em !important;
}

.project .project_card .project_title_card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: right;
	opacity: 0;
	transition: all .5s ease;
}

.project .project_card:hover .project_title_card {
	opacity: 1;
}

/* Contact section */

.contact_wrapper {
	display: flex;
	width: 100%;
}

.contact_wrapper .contact_card {
	flex: 1;
}

.contact_wrapper .contact_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact_wrapper .contact_vector img {
	display: block;
	margin: 0 auto;
	max-width: 80%;
}

#btn_hire_me {
	color: #fff;
	background-color: #0F47AD;
	border: 1px solid #0F47AD;
}

#btn_hire_me:hover {
	color: #0F47AD;
	background-color: transparent;
}

/* Footer section */

.footer {
	padding: 2em;
	height: 300px;
	background-color: #000;
	color: #fff;
	flex-direction: column;
	justify-content: space-between;
}

.footer .follow_social {
	display: flex;
	width: 50%;
	justify-content: space-between;
}

.footer .follow_social a {
	text-decoration: none;
}