/* My Page CSS */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

img {
	width: 100%;
	height: 100%;
}

.page_background {
	background-image: url(./assets/images/bg.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.form-element {
	display: block;
	width: 70%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

textarea.form-element {
	font-family: inherit;
	resize: none;
}

.form-element-wrapper {
	padding-bottom: 1em;
	;
}

.btn {
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/*NAVBAR*/

.navbar {
	max-height: 60px;
	background-color: #19293970;
	position: fixed;
	opacity: 1;
	/* Set the navbar to fixed position */
	top: 0;
	/* Position the navbar at the top of the page */
	width: 100%;
	/* Full width */
	display: flex;
	justify-content: flex-end;
	z-index: 1;
}

.navbar-bg-fixed {
	/* opacity: 1; */
	background-color: #192939;
}

.navbar .main_logo {
	color: #fff;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(10px, -50%);
	font-size: 1.5em;
	font-weight: 800;
}

.navbar .main_logo span {
	color: #7cf5dc;
}

.navbar ul {
	list-style: none;
	position: absolute;
	background-color: #0F47AD;
	width: 100vw;
	top: 0;
	left: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 2;
	padding: 0;
	margin: 0;
	overflow: hidden;
	transition: .5s ease left;
}

.navbar ul.active {
	left: 0;
}

.navbar ul a {
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: .2rem;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}

.navbar ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: #19293945;
	font-size: 5rem;
	letter-spacing: 50px;
	z-index: 1;
	transition: .3s ease letter-spacing;
}

.navbar ul li:hover a {
	color: #00937E;
}

.navbar ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	z-index: -1;
	letter-spacing: initial;
}

.navbar .hamburger {
	z-index: 100;
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid #fff;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transform: scale(.7);
	/* margin: 20px; */
}

.navbar .hamburger::after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid #fff;
	animation: hamburger_pulse 1s ease infinite;
}

.navbar .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: #fff;
	z-index: -1;
}

.navbar .hamburger .bar::after, .navbar .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: #fff;
	transition: .3s ease;
	transition-property: top, bottom;
}

.navbar .hamburger .bar::after {
	top: 8px
}

.navbar .hamburger .bar::before {
	bottom: 8px
}

.navbar .hamburger.active .bar::before, .navbar .hamburger.active .bar::after {
	top: 0;
	bottom: 0;
}

.navbar a {
	font-weight: 200;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

@media only screen and (min-width:900px) {
	.navbar .hamburger {
		display: none;
	}
	.navbar ul {
		position: initial;
		height: auto;
		display: block;
		width: fit-content;
		background-color: transparent;
	}
	.navbar ul li {
		display: inline-block;
	}
	.navbar ul li a {
		font-size: 0.9em;
	}
	.navbar ul a::after {
		display: none;
	}
}

/* Home section */

.home {
	flex-direction: column;
	background-image: url(./assets/images/bg.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.home-title {
	width: max-content;
	margin: 0 auto;
	font-weight: 400;
	font-size: 2em;
	color: white;
	text-align: center;
	padding-top: 5px;
}

.home p {
	color: #fff;
}

/* About Section */

.about {
	padding: 5em;
}

.about .about_wrapper {
	flex: 1;
}

.about .text_container {
	padding: 6em;
}

.about .text_container p {
	text-align: justify;
}

.about .pic_container .dev_pic {
	background-image: url(./assets/images/profile_pic.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/* background-position: -58px -14px; */
	padding-bottom: 80%;
	border-radius: 50%;
	width: 80%;
	margin: 0 auto;
	box-shadow: 2px 3px 16px 2px rgba(0, 0, 0, 0.75);
}

@media (max-width: 900px) {
	.about {
		padding: 1em;
	}
	.about .text_container {
		padding: 1em !important;
	}
}

@media (max-width: 600px) {
	.about {
		flex-direction: column-reverse;
	}
	.about .pic_container {
		width: 50%;
		flex: none;
		margin-top: 5em;
	}
}

@media (max-width: 350px) {
	.about .text_container {
		font-size: 0.8em;
	}
}
/* Career Section */

.career {
	background-image: linear-gradient(#4C6A66, #00937E);
	flex-direction: column;
	padding: 2em;
}

.career h1 {
	color: #fff;
	font-size: 2em;
}

.career .career_wrapper {
	display: flex;
	width: 100%;
}

@media (max-width: 600px) {
	.career_wrapper {
		flex-direction: column;
	}
	.career .career_path {
		margin-top: 2em;
	}
}

.career .career_card {
	flex: 1;
	height: 100%;
	width: 100%;
}

.career .career_card img {
	display: block;
	margin: 0 auto;
	max-width: 80%;
}

/* Skills Section */

.skills {
	padding: 5em;
}

@media (max-width: 600px) {
	.skills {
		padding: 1em;
	}
}

/* Project Section */

.project {
	background-image: linear-gradient(#FFA63E, #D07000);
	flex-direction: column;
	padding: 2em;
}

.project h1 {
	color: #fff;
	font-size: 2em;
}

.project .project_wrapper {
	display: flex;
	width: 100%;
}

.project .project_card {
	flex: 1;
	position: relative;
	max-height: 300px;
	padding: 1em;
	overflow: hidden;
}

@media (max-width: 600px) {
	.project_wrapper {
		flex-direction: column;
	}
	.project .project_card {
		max-height: 200px;
		max-width: 275px;
		margin: 0 auto;
	}
}


@media (max-width : 400px){
	.project .project_card{
		max-height: 180px;
		max-width: 255px;
	}
}

@media (max-width : 350px){
	.project .project_card{
		max-height: 150px;
		max-width: 225px;
	}
}
.project .project_card .overlay .layer {
	background-color: #000;
	position: absolute;
	top: 1em;
	left: 1em;
	border-radius: 8px;
	opacity: 0.8;
	width: calc(100% - 2em);
	height: 0;
	/* height: calc(100% - 2em); */
	transition: all .3s ease;
}

.project .project_card:hover .overlay .layer {
	height: calc(100% - 2em);
	/* top : 1em; */
}

.project .project_card img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

.project .project_card .project_title_card h1 {
	font-size: 1em !important;
}

.project .project_card .project_title_card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: right;
	opacity: 0;
	transition: all .5s ease;
}

.project .project_card:hover .project_title_card {
	opacity: 1;
}

/* Contact section */

.contact_wrapper {
	display: flex;
	width: 100%;
}

@media (max-width: 600px) {
	.contact_wrapper {
		flex-direction: column;
	}
}

.contact_wrapper .contact_card {
	flex: 1;
}

.contact_wrapper .contact_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (max-width: 600px) {
	.contact_wrapper .contact_form h1 {
		text-align: center;
	}
	.contact_wrapper .contact_form .form-element {
		margin: 0 auto;
	}
	#btn_hire_me {
		display: block;
		margin: 0 auto;
	}
}

@media (max-width : 400px){
	.contact_wrapper .contact_card img{
		width: 60%;
	}
}
@media (max-width : 350px){
	.contact_wrapper .contact_form h1 {
		font-size: 1em;
	}
}

.contact_wrapper .contact_vector img {
	display: block;
	margin: 0 auto;
	max-width: 80%;
}

#btn_hire_me {
	color: #fff;
	background-color: #0F47AD;
	border: 1px solid #0F47AD;
}

#btn_hire_me:hover {
	color: #0F47AD;
	background-color: transparent;
}

/* Footer section */

.footer {
	padding: 2em;
	height: 300px;
	background-color: #000;
	color: #fff;
	flex-direction: column;
	justify-content: space-between;
}

.footer .follow_social {
	display: flex;
	width: 50%;
	justify-content: space-between;
}

@media (max-width: 600px) {
	.footer .follow_social {
		width: 100%;
	}
}

.footer .follow_social a {
	text-decoration: none;
}

@keyframes hamburger_pulse {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.5);
	}
}